html, body {
    color: #d8d8d8;
    background: #000;
}

input, button {
    color: #d8d8d8;
    background-color: #181818;
    border: 1px solid #383838;
    border-radius: 2px;
    padding: 3px 5px;
}

button { margin-right: 1rem; }
div[data-hasholds="0"] .holdfor { display: none; }
